# Run the monthly level update task at 2 AM on the first day of every month.
# The `>> /proc/1/fd/1 2>> /proc/1/fd/2` part ensures that the cron job's output
# is redirected to the Docker container's stdout and stderr, so it can be
# viewed with `docker-compose logs`.
0 2 1 * * root poetry run python /app/src/referalbot/tasks.py >> /proc/1/fd/1 2>> /proc/1/fd/2

# An empty line is required at the end of a crontab file
